.card__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    flex-wrap: nowrap;
    margin-right: 20px;
}

@media (max-width: 837px) {
    .card__info {
        margin-right: 20px;
    }

}